@charset "UTF-8";

body {
    background-color: #BFBFBF;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #10403B;
}

h1#principal {
    text-align: center;
    background-color: #8AA6A3;
    color: #10403B;
}

h2 {
    color: #127369;
}

.basico {
    color: #127369;
}

.intermediario {
    color: #403f10;
}

.avancado {
    color: #401010;    
}

.destaque {
    background-color: rgba(255, 255, 0, 0.527);
}